:root {
  --neutralColor: #f7fff7;
  --complimentaryColor: #ffe66d;
  --accentColor: #fb0053;
  --blackReplacementColor: #292f36;
  --darkContrast: #6d0104;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  max-width: 2500px;
  margin: 0 auto;
  background-color: var(--neutralColor);
  grid-template-rows: repeat(3, minmax(max-content, 100vh)) auto auto minmax(
      max-content,
      40vh
    );
  gap: 25px;
}

/* For blocking when the menu is opened in mobile version */
.blockScroll {
  overflow: hidden;
}

*::selection {
  background-color: var(--accentColor);
}

input {
  color: var(--accentColor);
  caret-color: var(--accentColor);
}

section,
header,
footer {
  display: grid;
  padding: 10px; /* Padding for all the sections */
}

.heroSection {
  grid-template: auto 1fr/ 2fr 1fr 2fr;
}

header {
  display: flex;
  grid-area: 1 / 1 / span 1 / span 3;
  justify-content: space-between;
}

.heroText {
  margin-top: 25px;
  color: var(--darkContrast);
  font-family: "Maven Pro", sans-serif;
  text-align: center;
  grid-area: 2 / 1 / span 1 / span 2;
}

.heroImage {
  width: 100%;
  min-height: 55vw;
  z-index: -1;
  background-image: url("media/hero.png");
  background-size: cover;
  background-position: center;
  mix-blend-mode: multiply;
  grid-area: 1 / 2 / span 2 / span 2;
}

.logo {
  height: min(60px, 13vw);
  mix-blend-mode: multiply;
}

.navigation {
  position: absolute;

  /* To center it horizontally */
  left: 50%;
  transform: translateX(-50%);

  /* To create the gap between links */
  display: flex;
  gap: 40px;
}

/* For the links of navigation */
.navigation a {
  text-decoration: none;
  color: var(--darkContrast);
  font-family: "EB Garamond", serif;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.searchBar {
  display: flex;
  border-radius: 100px; /* To make it pill shaped */
}

.searchBar:hover {
  border: 2px solid var(--blackReplacementColor);
}

.searchBar:hover .searchInputBox {
  width: min(150px, 17vw);
}

.searchInputBox {
  transition: width 1s;
  width: 0; /* Initially, 0 width */
  padding: 5px;
  border-radius: 100px;
}

.searchButton {
  padding: 5px 7px;
  font-size: 1.2rem;
  cursor: pointer;
}

.searchInputBox,
.searchButton {
  border: none;
  outline: none;
  background-color: transparent;
}

.hamburgerMenu {
  cursor: pointer;
  display: none; /* Initially invisible */
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 1.6rem;
}

.heroHeading {
  font-size: min(11vw, 4rem);
}

.heroSubheading {
  width: fit-content;
  margin: 0 auto;
  font-size: min(1.2rem, 5vw);
  color: #b35658;
  border-bottom: 1px solid var(--accentColor);
}

.heroHeading > .wordMountain {
  color: var(--accentColor);
}

.heroDescription {
  color: var(--darkContrast);
  font-size: min(1rem, 4vw);
  margin-top: min(30px, 3vw);
}

.CTAContainer {
  margin-top: min(15px, 3.5vw);
}

/* For all the CTA buttons on the website */
.CTA {
  padding: min(2.5vw, 14px) min(4.7vw, 28px);
  font-size: 1.1rem;
  color: var(--blackReplacementColor);
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 100%;
  cursor: pointer;
  border: 3px solid var(--accentColor);
  border-radius: 100px;
}

.heroText .secondaryCTA {
  margin-left: 10px;
}

.primaryCTA {
  background-color: var(--accentColor);
}

.secondaryCTA {
  background-color: transparent;
}

/* SECTION CHANGED */

.featuresSection {
  padding: 10px 20px;
  grid-template-columns: repeat(
    auto-fill,
    minmax(
      clamp(
        clamp(100%/5 + 0.1%, (1000px - 100vw) * 1000, 100%/3 + 0.1%),
        (580px - 100vw) * 1000,
        100%
      ),
      1fr
    )
  );
  gap: 20px;
  justify-items: center;
}

/* Will be apllied to heading and description fo all the sections accept for hero section */
.sectionHeading,
.sectionDescription {
  color: var(--blackReplacementColor);
  grid-column: 1 / -1;
  text-align: center;
}

.sectionHeading {
  font-size: 2.5rem;
}

.sectionDescription {
  font-size: 1.1rem;
  max-width: 70ch;
  margin-bottom: 10px;
}

.featureCards {
  display: grid;
  max-width: 300px;
  min-height: 400px;
  border-radius: 20px;
  background-color: var(--complimentaryColor);
  color: var(--blackReplacementColor);
  color: #6d0104;
  grid-template-rows: 7fr 5fr;
}

.featuresSection .secondaryCTA {
  margin-top: 15px;
  grid-column: 1 / -1;
}

.featureText {
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 10px;
}

.featureText {
  font-size: 1.15rem;
}

.featureImage {
  border-radius: 20px 20px 0 0;
  background-image: url("https://images.unsplash.com/photo-1519160558534-579f5106e43f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  background-size: cover;
  background-position: center;
}

/* SECTION CHANGED */

.adventureSection {
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
}

.adventureSection > .sectionDescription {
  justify-self: center;
}

.adventure {
  grid-column: 1 / -1;
  display: flex;
}

.adventureText {
  display: grid;
  min-width: 300px;
  background-color: var(--complimentaryColor);
  place-items: center;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  color: var(--darkContrast);
}

.adventureText > h2 {
  padding: min(35px, 6vw);
}

.adventureImage {
  min-width: 300px;
  min-height: 300px;
  flex-grow: 1;
  background-size: cover;
  background-position: bottom;
}

#adventure1Image {
  background-image: url("media/biking.jpg");
}
#adventure2Image {
  background-image: url("media/canyoning.jpg");
}
#adventure3Image {
  background-image: url("media/trekking.jpg");
}

#featureImage1 {
  background-image: url("media/view.jpg");
}
#featureImage2 {
  background-image: url("media/peace.jpg");
}
#featureImage3 {
  background-image: url("media/waterfalls.jpg");
}
#featureImage4 {
  background-image: url("media/smallness.jpg");
}

.forwardWrap {
  flex-wrap: wrap;
}

.backwardWrap {
  flex-wrap: wrap-reverse;
}

.subscribeSection {
  display: grid;
  justify-items: center;
  gap: 10px;
}

.formWrapper {
  display: flex;
  flex-wrap: wrap;
  width: min(820px, 100%);
  justify-content: center;
  align-items: center;
}

.subscribeImage {
  flex-grow: 2.6;
  height: max(40vw, 380px);
  background-image: url("media/subsImage.jpg");
  background-size: cover;
}

.subscribeForm {
  display: grid;
  /* min-height: 300px; */
  aspect-ratio: 5 / 3;
  margin-left: -10%;
  padding: 20px;
  flex-basis: 0;
  flex-grow: 4;
  gap: 20px;
  background-color: #ffe66dd9;
  align-content: center;
}

/* All the three input boxes */
.subscribeSection input {
  min-width: 150px;
  height: 30px;
  padding: 5px;
  box-sizing: content-box;
  background-color: transparent;
  flex-grow: 1;
  border: none;
  border-bottom: 2px solid #010101;
}

.namesCont {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.subscribeButton {
  box-sizing: content-box;
  height: 30px;
  padding: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: var(--accentColor);
  border: none;
  font-weight: bold;
}

.subscribeAndFooterSeparator {
  height: 1px;
}

footer {
  display: grid;
  padding: 0;
  background-image: url("media/footerBg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  gap: 5px;
  justify-items: center;
}

.footerWebsiteName {
  border: 2px solid var(--accentColor);
  transform: translateY(-50%);
  padding: 10px;
  align-self: start;
}

.websiteDescription {
  max-width: 600px;
  padding: 10px;
  text-align: center;
  color: var(--darkContrast);
}

.socialIcons {
  display: flex;
  gap: 20px;
}

.socialIcons > a {
  display: grid;
  padding: 8px;
  aspect-ratio: 1;
  font-size: 2rem;
  color: var(--accentColor);
  text-decoration: none;
  place-items: center;
  border: 5px solid var(--blackReplacementColor);
  cursor: pointer;
}

/* Effect layer */
footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--complimentaryColor);
  opacity: 0.3;
}

.copyright {
  padding: 6px;
  font-weight: bold;
  text-align: center;
}

/* body::before{
    content: "";
    width: 5px;
    height: 500vh;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: crimson;
    position: absolute;
    z-index: 999;
} */

.mobileMenuWrapper {
  transition: 1s;
}

.mobileMenuWrapper.clicked {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 10px;
  background-color: var(--complimentaryColor);
  flex-direction: column;
  gap: 10px;
}

.mobileMenuWrapper.clicked .navigation {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.mobileMenuWrapper.clicked .searchBar {
  display: flex;
  width: 80%;
  height: 40px;
  border: 2px solid black;
  align-self: center;
}

.mobileMenuWrapper.clicked .searchInputBox {
  width: 90%;
}

@media only screen and (max-width: 600px) {
  .heroText {
    grid-area: 1 / 1 / span 2 / span 3;
  }
  .heroImage {
    grid-area: 2 / 1 / span 1 / span 3;
  }

  .subscribeImage {
    width: 100%;
  }
  .subscribeForm {
    margin: -20% 0 0 0;
    flex-grow: 0.9;
  }

  .navigation,
  .searchBar {
    display: none;
  }

  .hamburgerMenu {
    display: block;
  }
}
